<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tài liệu</title>
    
</head>
<body>
    <div class="header">
        <h1>Thực Phẩm Chức Năng, Chăm Sóc Sức Khỏe</h1>
    </div>
    <div class="container">
        <div class="form-group">
            <input class="form-control" [(ngModel)]="timkiem" placeholder="Tìm Kiếm" type="text">
            <button class="btn btn-primary" type="submit" (click)="timKiem()">Tìm</button>
        </div>
        <div class="button-group">
            <button class="btn btn-primary" type="button" (click)="mathang()">Sản Phẩm</button>
            <button class="btn btn-primary" type="button" (click)="lienhe()">Liên Hệ</button>
            <button class="btn btn-primary" type="button" (click)="marsa()">Mã RSA</button>
        </div>
    </div>
    <router-outlet></router-outlet>
    <div class="button-group">
        <button class="btn btn-primary" type="button" (click)="dangxuat()">Đăng Xuất</button>
    </div>
</body>
</html>