<div class="item">
    <button class="btn btn-primary btn-sm" type="submit" style="margin-left: 700px;" (click)="openkiemtra()">Thêm Sản Phẩm</button>
</div>
<div *ngIf="kiemtra">
    <div>
        <input class="form-control" placeholder="Tên Sản Phẩm" type="text" [(ngModel)]="productop.ten">
        <input class="form-control" placeholder="Loại Sản Phẩm" type="text" [(ngModel)]="productop.loai">
        <label for="">Số Lượng</label>
        <input class="form-control" placeholder="Số Lượng" type="text" [(ngModel)]="productop.soluong">
        <input class="form-control" placeholder="Ngày Sản Xuất" type="date" [(ngModel)]="productop.ngay">
        <button class="btn btn-primary btn-sm" type="submit" style="margin-left: 700px;">Thêm</button>
        <button class="btn btn-primary btn-sm" type="submit" style="margin-left: 700px;" (click)="closekiemtra()">Đóng</button>
    </div>
    </div>

